.header{
  color: black;
  text-align: center;
}
.increment{
  text-align: center;
}
*{
  background-color: antiquewhite;
  margin: 10px;
  text-align: center;

}

  table {
    width: 50%;
    border: 3px solid black;
    text-align: center;
    
    border-collapse: collapse;
    margin-top: 40px;
  }
  
  th, td {
    border: 3px solid black;
    padding: 8px;
  }

.image{
  margin: 80px;
}